In [2]:
import pandas as pd

In [3]:
df_cpi = pd.read_csv("./data/CPI.csv", sep=',')
df_ppp = pd.read_csv("./data/PPP_conversion_factor.csv", sep=',')

cpi_france_2017 = df_cpi.loc[df_cpi["Country Name"] == "France", "2017"].values[0]
print(cpi_france_2017)

cpi_france_2022 = df_cpi.loc[df_cpi["Country Name"] == "France", "2022"].values[0]
print(cpi_france_2022)

ppp_france_2017 = df_ppp.loc[df_ppp["Country Name"] == "France", "2017"].values[0]
print(ppp_france_2017)

106.864453008147
118.258283622798
0.847836

In [5]:
PIP_VERSION = "2024-03-27"

# Define PIP percentiles URL
PIP_URL = f"http://catalog.ourworldindata.org/garden/wb/{PIP_VERSION}/world_bank_pip/percentiles_income_consumption_2017.feather"

df_percentiles = pd.read_feather(PIP_URL)
display(df_percentiles)

,country,year,reporting_level,welfare_type,percentile,ppp_version,thr,avg,share
0,Albania,1996,national,consumption,1,2017,2.383728,1.969530,0.002434
1,Albania,1996,national,consumption,2,2017,2.610654,2.509503,0.003194
2,Albania,1996,national,consumption,3,2017,2.817954,2.722968,0.003356
3,Albania,1996,national,consumption,4,2017,2.999050,2.913072,0.003723
4,Albania,1996,national,consumption,5,2017,3.164409,3.094455,0.003954
...,...,...,...,...,...,...,...,...,...
285577,Zimbabwe,2019,national,consumption,96,2017,15.447537,14.420876,0.032356
285578,Zimbabwe,2019,national,consumption,97,2017,18.121754,16.690189,0.036980
285579,Zimbabwe,2019,national,consumption,98,2017,22.114241,19.928663,0.043896
285580,Zimbabwe,2019,national,consumption,99,2017,31.616734,26.142586,0.057702
285581,Zimbabwe,2019,national,consumption,100,2017,NaN,49.037704,0.115032

In [7]:
df_percentiles = df_percentiles[(df_percentiles["country"] == "World")].reset_index(drop=True)
    # Compare thr values with the one in the previous row
df_percentiles["thr_previous"] = (df_percentiles["thr"].groupby(df_percentiles["year"]).shift(1))
df_percentiles["thr_check"] = (df_percentiles["thr"] >= df_percentiles["thr_previous"])

# Assert that all values are True
df_percentiles_check = df_percentiles[(df_percentiles["thr_check"]) & (df_percentiles["percentile"] != 1)]
assert df_percentiles_check["thr_check"].all(), "The global distribution is not monotonically increasing"

# Keep only the relevant columns
df_percentiles = df_percentiles[["country", "year", "percentile", "thr"]]

# Filter for the latest year
df_percentiles = df_percentiles[df_percentiles["year"] == df_percentiles["year"].max()].reset_index(drop=True)
display(df_percentiles)

   country  year  percentile         thr
0    World  2022           1    0.790000
1    World  2022           2    1.080000
2    World  2022           3    1.290000
3    World  2022           4    1.470000
4    World  2022           5    1.630000
..     ...   ...         ...         ...
94   World  2022          95   72.000000
95   World  2022          96   80.599998
96   World  2022          97   92.099998
97   World  2022          98  110.400002
98   World  2022          99  146.199997

[99 rows x 4 columns]